body{
    background-image: url(photo.JPG);
}
.whole{
    width: 500px;
    background-color: rgba(0,0,0,.4);
    margin: 200px auto;
    color: beige;
    padding: 10px 10px 30px;
    font-size: 20px;
    font-style: italic;
    border-radius: 30px;
    box-shadow: 1px 7px 15px black;
}
.whole h1{
    text-align: center;
    color: brown;
}
.lab{
    display: block;
}
.inp input{
width: 75%;
height: 1.3em;
border: 1px solid black;
box-shadow: 2px 1px 10px;
border-radius: 5px;
padding: 5px;
margin: 10px 0px 10px ;
}
input:focus{
    background-color: rgb(215, 205, 189);
}
button{
    text-align: center;
    color: white;
    background-color: brown;
    font-size: 13px;
    border: 1px solid black;
    box-shadow: 3px 2px 15px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.radio input {
    accent-color: black;
    transform:scale(1.4);
}